:root {
 
    --primery-text-color: #757575;
    --titel-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #fff;
    --background-color: #2F303A;
    
    }
    
     
    ul{
    list-style: none;
    }
    a{
    text-decoration: none;
    }
    
    .body{
    font-family: Roboto, sans-serif;
    margin: 0;   
    }
    
    .header{
    display: flex;
    height: 80px;
    background-color: #ffffff;
    font-family: Roboto;
    border-bottom: 1px solid #ECECEC;
    }
    .header-container{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;    
    }
    .container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;      
    }
    
    .header-logo{
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
    margin: 0;
    }
    
    .logo-part-two{
    color: #2F303A;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    }
    
    .navigation{
    display: flex;
    margin-left: 93px;
    padding-left: 0;
    }
    
    .nav-contacts{
    display: flex;
    margin-left: 331px;
    padding: 0; 
    }
    .nav-link{
    color: var(--titel-text-color-);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }
        
    .nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    border-radius: 2px;      
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link-active{
    color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }
    .nav-link-active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    border-radius: 2px;      
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link:hover,
    .nav-link:focus{
    color: var(--accent-color);
    display: block;
    }
    .nav-link:hover::after{
    opacity: 1;
    }
    
    
    .contacts-mail{
    color: var(--primery-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-right: 50px;
    display: inline-flex;
    align-items: center;
    }
    
    .contacts-mail:hover svg,
    .contacts-mail:focus svg{
    fill: var(--accent-color);
    }
    .contacts-mail:hover,
    .contacts-mail:focus {
    color:var(--accent-color);
    }
    
    .letter{
    width: 16px;
    height: 12px;
    padding: 0;
    margin-right: 10px;
    fill: #757575;
    cursor: pointer;
    }
    .contacts-tel{
    color: var(--primery-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline-flex;
    align-items: center;
    }
    
    .contacts-tel:hover,
    .contacts-tel:focus{
    color:var(--accent-color);
    }
    .contacts-tel:hover svg,
    .contacts-tel:focus svg{
    fill: #2196F3;
    }
    
    .phone{
    width: 10px;
    height: 16px;
    padding: 0;
    margin-right: 10px;
    fill: #757575;
    cursor: pointer; 
    }
    
    
    
    
    
    
    .main{
    align-items: center;
    padding-top: 89px;
    margin-right: auto;
    }
    
    .container-button{
    width: 1200px;
    padding-bottom: 50px;
    align-items: center;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
    }
    
    .button{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 50px;
    }
    .button-box{
        font-family: Roboto;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    }
    .button-box:hover,
    .button-box:focus{
    color: #F5F4FA;
    background: #2196F3;
    cursor: pointer;
    }
    .button-box{
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;
    border: none;
    }
    
    .container-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    }

.box{
position: relative;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;     
margin-right: 30px;
margin-bottom: 30px; 
width: 370px; 

overflow: hidden;
cursor: pointer;
}


.box:nth-child(3n){
margin-right: 0;
}
.box:hover { 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product{
display: flex;
width: 370px;
height: 294px;
}

.product::before{
content: "";
position:absolute;
top: 0;
right: 0;
width: 100%;
height: 294px;
background-color: rgba(33, 150, 243, 0.9); 
opacity: 0;

transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.box:hover .product::before{
    position: ;
background-color: rgba(33, 150, 243, 0.9); 
transform: translateY(0);
opacity: 1;
}

.description{
content: "";
display: inline-flex;
position: absolute;
margin: 0;
padding: 0;
top: 63px;
left: 0%;
width:100%;
height: 100%;
display: flex;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
opacity: 1;
text-align: center ;
justify-content: center;
color: #fff;
opacity: 0;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.box:hover .description{
transform: translateY(0);
opacity: 1;  
}
    
.text-in-box{

padding-left: 24px;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 20px;
}

    .text{
    color: var(--titel-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0;
    }
    
    .paragraph{
    overflow: hidden;
    color: var(--primery-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    margin: 0;
    }
    
    
    
    .footer-bg{
    background-color: var( --background-color);
    padding-top: 60px;
    padding-bottom: 60px;    
    }
    .footer{
    display: inline-block;
    margin-right: 70px;
    align-items: center;
    }
    .footer-logo{
    color: var(--accent-color);  
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    }
       
    .footer-logo-studio{
    color: var(--primary-white-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;   
    }
        
    .adress{
    display: block;      
    }
    
    .street{
    color: var(--primary-white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;       
    }
    .contacts{
    padding: 0;
    }
    
    .footer-item{
    margin-bottom: 9px;
    }
    .footer-email{     
    color: rgba(255, 255, 255, 0.6);   
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
    }
        
    .footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;    
    }
     
    .footer-socialmedia{
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
    }
        
    .join{
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin: 0;
    }
    
    .footer-box{
    width: 206px;
    padding: 0px;
    }
    .foot{
    display: flex;
    align-items: baseline;
    }
    
    .footer-icon{
    fill: #fff;
    }
      
    .footer-fb{
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    }
    
    .footer-fb:hover,
    .footer-fb:focus{
    background-color: #2196F3;
    border-radius: 50%;
    }
    .footer-fb:hover svg,
    .footer-fb:focus svg{
    fill: #fff;
    } 
    
    .social-item-footer{
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(252, 251, 251, 10%);
    margin-top: 20px;
    margin-right: 10px;
    }
    
    .instagram{
    width: 20px;
    height: 20px;
    fill: #fff;
    }
            
    .twitter{
    width: 20px;
    height: 20px;
    fill: #fff;
    }
    
    .facebook{
    width: 20px;
    height: 20px;
    fill: #fff;
    }
           
    .linkedin{
    width: 20px;
    height: 20px;
    fill: #fff;
    }
          
    .logo-box{
    display: inline-flex;
    align-items: center;
    width: 170px;
    height: 90px; 
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #AFB1B8;
    background-color: #fff; 
    margin-right: 30px; 
    }
    
    .logo-box:hover,
    .logo-box:focus{
    border: 1px solid #2196F3;
    cursor: pointer;
    }
    .logo-box:last-child{
    margin-right: 0px;
    }